/* Coolors Exported Palette - https://coolors.co/262444-fefefe-fc5459-f19c2d-524e86-2cc7f7-41dfbe */

/* CSS HEX */
--space-cadet: #262444ff;
--white: #FEFEFEff;
--red-salsa: #FC5459ff;
--carrot-orange: #F19C2Dff;
--purple-navy: #524E86ff;
--vivid-sky-blue: #2CC7F7ff;
--turquoise: #41DFBEff;

/* CSS HSL */
--space-cadet: hsla(244, 31%, 20%, 1);
--white: hsla(0, 0%, 100%, 1);
--red-salsa: hsla(358, 97%, 66%, 1);
--carrot-orange: hsla(34, 87%, 56%, 1);
--purple-navy: hsla(244, 26%, 42%, 1);
--vivid-sky-blue: hsla(194, 93%, 57%, 1);
--turquoise: hsla(167, 71%, 56%, 1);

/* SCSS HEX */
$space-cadet: #262444ff;
$white: #FEFEFEff;
$red-salsa: #FC5459ff;
$carrot-orange: #F19C2Dff;
$purple-navy: #524E86ff;
$vivid-sky-blue: #2CC7F7ff;
$turquoise: #41DFBEff;

/* SCSS HSL */
$space-cadet: hsla(244, 31%, 20%, 1);
$white: hsla(0, 0%, 100%, 1);
$red-salsa: hsla(358, 97%, 66%, 1);
$carrot-orange: hsla(34, 87%, 56%, 1);
$purple-navy: hsla(244, 26%, 42%, 1);
$vivid-sky-blue: hsla(194, 93%, 57%, 1);
$turquoise: hsla(167, 71%, 56%, 1);

/* SCSS RGB */
$space-cadet: rgba(38, 36, 68, 1);
$white: rgba(254, 254, 254, 1);
$red-salsa: rgba(252, 84, 89, 1);
$carrot-orange: rgba(241, 156, 45, 1);
$purple-navy: rgba(82, 78, 134, 1);
$vivid-sky-blue: rgba(44, 199, 247, 1);
$turquoise: rgba(65, 223, 190, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #262444ff, #FEFEFEff, #FC5459ff, #F19C2Dff, #524E86ff, #2CC7F7ff, #41DFBEff);
$gradient-right: linear-gradient(90deg, #262444ff, #FEFEFEff, #FC5459ff, #F19C2Dff, #524E86ff, #2CC7F7ff, #41DFBEff);
$gradient-bottom: linear-gradient(180deg, #262444ff, #FEFEFEff, #FC5459ff, #F19C2Dff, #524E86ff, #2CC7F7ff, #41DFBEff);
$gradient-left: linear-gradient(270deg, #262444ff, #FEFEFEff, #FC5459ff, #F19C2Dff, #524E86ff, #2CC7F7ff, #41DFBEff);
$gradient-top-right: linear-gradient(45deg, #262444ff, #FEFEFEff, #FC5459ff, #F19C2Dff, #524E86ff, #2CC7F7ff, #41DFBEff);
$gradient-bottom-right: linear-gradient(135deg, #262444ff, #FEFEFEff, #FC5459ff, #F19C2Dff, #524E86ff, #2CC7F7ff, #41DFBEff);
$gradient-top-left: linear-gradient(225deg, #262444ff, #FEFEFEff, #FC5459ff, #F19C2Dff, #524E86ff, #2CC7F7ff, #41DFBEff);
$gradient-bottom-left: linear-gradient(315deg, #262444ff, #FEFEFEff, #FC5459ff, #F19C2Dff, #524E86ff, #2CC7F7ff, #41DFBEff);
$gradient-radial: radial-gradient(#262444ff, #FEFEFEff, #FC5459ff, #F19C2Dff, #524E86ff, #2CC7F7ff, #41DFBEff);